/*pie de página*/
footer{
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    background:linear-gradient(to bottom left,#fbf6e4da, #e6ddc2, #f7eccb9d);
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
/*Diseño del footer en forma de pastel para la página web*/
/*Zona del pan*/
.bread-zone{
    position: relative;
    width: 100%;
    padding-top: 120px;
    background-color: #5E2826;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}
/*Parte del merengue derretido*/
.main-meringue{display: block;} .secondary-meringue{display: none;} .tertiary-meringue{display: none;}
.container-meringue {
    position: relative;
    margin-top: -1rem;
    height: 82px;
    width: 100%;
    margin-bottom: -65px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
}
.melted-meringue1, .melted-meringue2, .melted-meringue3,
.melted-meringue4, .melted-meringue5, .melted-meringue6,
.melted-meringue7, .melted-meringue8, .melted-meringue9 {
    position: relative;
    top: 0;
    height: 170px; /* altura del efecto del merengue */
    width: 12%; /* Ancho en porcentaje para que se ajuste */
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
    background-color: #5E2826;
}
/*Contenedor de la vela en forma de palabras*/
.container-candle {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -30px; /* Ajuste de margen si es necesario */
    top: -192px;
}
/* Vela en forma de letras */
.word-candle {
    /*Fuentes para las velas, fuente tomada de "Google Fonts"*/
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    /*Estilos adicionales para las velas en forma de letras*/
    font-size: 65px;
    word-spacing: 10px;
    letter-spacing: 20px;
    color: #AD49E1;
    text-transform: uppercase;
    text-shadow: 2px 0px 3px rgba(0,0,0,0.5);
    user-select: none;
    position: relative;
    display: inline-flex;
    align-items: center;
}
/*Contenedor para la mecha de la vela*/
.container-wick{
    position: absolute;
    top: 6px;
    height: 15px;
    width: 5px;
    background-color: #68576fc9;
}
.container-wick.wick1{left: 10px;} .wick2{left: 39px;} .wick3{left: 84px;} .wick4{left: 150px;} .wick5{left: 190px;} .wick6{left: 238px;} .wick7{left: 266px;}
.wick8{left: 357px;} .wick9{left: 386px;} .wick10{left: 433px;} .wick11{left: 498px;} .wick12{left: 538px;} .wick13{left: 586px;} .wick14{left: 615px;}
/*Flama de la vela*/
.candle-flame {
    position: absolute;
    top: -28px;
    font-size: 30px;
    color: #FFAF00;
    animation: flame 0.65s infinite;
    filter: drop-shadow(0px 0px 19.5px #EB5B00);
}
.flame1{left: -3px;} .flame2{left: 26px;} .flame3{left: 71px;} .flame4{left: 137px;} .flame5{left: 177px;} .flame6{left: 225px;} .flame7{left: 253px;}
.flame8{left: 344px;} .flame9{left: 373px;} .flame10{left: 420px;} .flame11{left: 485px;} .flame12{left: 525px;} .flame13{left: 573px;} .flame14{left: 602px;}
/*Animación para la vela, efecto de parpadeo*/
@keyframes flame {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(1.1);
        color: #FFAF00;
        filter: drop-shadow(0px 0px 25px #F09319);
    }
    100% {
        transform: scale(1);
        color: #F09319;
        filter: drop-shadow(0px 0px 15px #FFD700);
    }
}
/*Compartibilidad de animación con navegadores y dispositivos más antiguos*/
@-webkit-keyframes flame {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(1.1);
        color: #FFAF00;
        filter: drop-shadow(0px 0px 25px #F09319);
    }
    100% {
        transform: scale(1);
        color: #F09319;
        filter: drop-shadow(0px 0px 15px #FFD700);
    }
}
/*Capa / división del pastel*/
.cake-layer{
    border-radius: 6%;
    background-color: #5E2826;
    height: 50px;
}
/*sección de las redes sociales*/
.section-social{
    display: flex;
    margin-top: 40px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
} 
.title-social{
    position:absolute;
    font-family: 'anton', sans-serif;
    font-size: 2rem;
    color: #AD49E1;
    text-transform: uppercase;
    background-image: linear-gradient(-250deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: bgText 2.5s linear infinite;
    width: 100%;
    margin-top: -85px;
    display: flex;
    justify-content: center;
}
@keyframes bgText {
    to{background-position: 200% center;}
}
@-webkit-keyframes bgText {
    to{background-position: 200% center;}
}
.container-social{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-top: 30px;
}
.social-icons{
    width: 32px;
    height: 32px;
    transition: margin-top 0.20s ease-out;
    user-select: none;
}.social-icons:hover{margin-top: -30px;}
/*Sección del slogan con Derechos reservados*/
.section-slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.title-slogan{
    font-family: 'anton', sans-serif;
    font-size: 1.5rem;
    color: #AD49E1;
    text-transform: uppercase;
    background-image: linear-gradient(-250deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: bgText 2.5s linear infinite;
    width: 100%;
    margin-bottom: 20px;
}
/*Derechos reservados*/
.content-rightsReserved{
    font-size: 14px;
    padding-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
}
.text-rightsReserved{color: #7f9093;}

/*Media para tabletas*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /*Zona del pan*/
    .bread-zone{padding-top: 80px;}
    /*Parte del merengue secundario derretido*/
    .main-meringue{display: none;} .secondary-meringue{display: block;} .tertiary-meringue{display: none;} 
    .container-meringue {margin-bottom: 40px;}
    .melted-meringue1, .melted-meringue2, .melted-meringue3,
    .melted-meringue4, .melted-meringue5 {
        height: 146px; /* altura del efecto del merengue */
        width: 20%; /* Ancho en porcentaje para que se ajuste */
    }
    /*Vela en forma de letras */
    .word-candle {font-size: 32.5px;}
    /*Contenedor para la mecha de la vela*/
    .container-wick{
        top: 0;
        height: 10px;
        width: 3px;
    }
    .container-wick.wick1{left:3px;} .wick2{left: 20px;} .wick3{left: 52px;} .wick4{left: 93px;} .wick5{left: 115px;} .wick6{left: 147px;} .wick7{left: 164px;}
    .wick8{left: 232.5px;} .wick9{left: 249px;} .wick10{left: 281px;} .wick11{left: 322px;} .wick12{left: 344px;} .wick13{left: 376px;} .wick14{left: 393px;}
    /*Flama de la vela*/
    .candle-flame {
        top: -20px;
        font-size: 18px !important;
    }
    .flame1{left: -4px;} .flame2{left: 13px;} .flame3{left: 44.5px;} .flame4{left: 86px;} .flame5{left: 107.5px;} .flame6{left: 140px;} .flame7{left: 157px;}
    .flame8{left: 226px;} .flame9{left: 242px;} .flame10{left: 273.5px;} .flame11{left: 315px;} .flame12{left: 337px;} .flame13{left: 369px;} .flame14{left: 386px;}
}

/*Media para teléfonos*/
@media only screen and (max-width: 767px) {
    /*Zona del pan*/
    .bread-zone{padding-top: 40px;}
    /*Parte del merengue terciario derretido*/
    .main-meringue{display: none;} .secondary-meringue{display: none;} .tertiary-meringue{display: block;}
    .container-meringue {margin-bottom: 40px;}
    .melted-meringue1, .melted-meringue2, .melted-meringue3 {
        height: 106px; /* altura del efecto del merengue */
        width: 40%; /* Ancho en porcentaje para que se ajuste */
    }
    /*Contenedor de la vela en forma de palabras*/
    .container-candle {top: -133.5px;}
    /*Vela en forma de letras */
    .word-candle {
        font-size: 1rem;
        word-spacing: 5px;
        letter-spacing: 10px;
    }
    /*Contenedor para la mecha de la vela*/
    .container-wick{
        top: 0;
        height: 6px;
        width: 1.5px;
    }
    .container-wick.wick1{left: 1px;} .wick2{left: 10px;} .wick3{left: 26px;} .wick4{left: 46px;} .wick5{left: 57px;} .wick6{left: 72px;} .wick7{left: 81px;}
    .wick8{left: 114.2px;} .wick9{left: 123px;} .wick10{left: 139.5px;} .wick11{left: 160px;} .wick12{left: 170px;} .wick13{left: 186px;} .wick14{left: 195px;}
    /*Flama de la vela*/
    .candle-flame {
        position: absolute;
        top: -11px;
        font-size: 10px !important;
    }
    .flame1{left: -3px;} .flame2{left: 6px;} .flame3{left: 22px;} .flame4{left: 42px;} .flame5{left: 53px;} .flame6{left: 68px;} .flame7{left: 77px;}
    .flame8{left: 110px;} .flame9{left: 119px;} .flame10{left: 135.5px;} .flame11{left: 156px;} .flame12{left: 166px;} .flame13{left: 182px;} .flame14{left: 191px;}
    /*Capa / división del pastel*/
    .cake-layer{height: 28px;}
    /*sección de las redes sociales*/
    .section-social{
        margin-top: 15px;
        margin-bottom: 0;
    }
    .title-social{
        font-size: 100%;
        margin-top: -55px;
    }
    .container-social{
        gap: 35px;
        margin-top: 30px;
    }
    .social-icons{
        width: 22px;
        height: 22px;
    }.social-icons:hover{margin-top: -10px;}
    /*Sección del slogan con Derechos reservados*/
    .section-slogan{margin-top: 25px;}
    .title-slogan{font-size: 100%;}
    /*Derechos reservados*/
    .content-rightsReserved{font-size: 65%;}
}