.container-title{
  text-align: center;
  color: #555; 
  top: 150px;
  margin-top: 10px;
  margin-bottom: 8px;
}
.container-pedido{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 25px;
  padding: 0 0 100px 
}
/*estilo del formulario para Pedidos.CSS y Login.tsx*/
.forms {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5em auto;
}
label {
  margin-top: 10px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}
/*diseño del select*/
select, textarea, input {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
textarea {
  resize: none;
}
/*diseño de los botones*/
button {
  /* background:linear-gradient(to bottom, #96C9F4, #F9F9F9, #FFD0EC); */
  color: #000;
  padding: 10px;
  border: none;
  border-radius: 4px;
}
button:hover {
  /* background:linear-gradient(to bottom, #96C9F4, #F9F9F9, #FFD0EC); */
}
/* Fondo del modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 1000;
}

/* Contenido del modal */
.modal-content {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.modal-content h2 {
  margin-bottom: 7px;
  color: #28a745; /* Verde de éxito */
}

.modal-content p {
  font-size: 16px;
  color: #555;
}

/* Animación opcional para el modal */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-content {
  animation: fadeIn 0.3s ease-in-out;
}
