.card-item {
	height: 370px; /* Ajusta la altura */
	width: 280px; /* Ajusta el ancho */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	border-radius: 10px;
	backdrop-filter: blur(10px);
	background: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(200, 200, 200, 0.5);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
  }
  
  .card-item img.user-image {
	width: 180px; /* Ajusta el tamaño de la imagen */
	height: 180px;
	border-radius: 50%;
	margin-bottom: 10px;
	object-fit: cover;
	border: 8px solid #e6b0aa  ;

  }
  
  .card-item h2.user-name {
	font-size: 1.2rem;
	margin: 10px 0;
	color: #333;
  }
  
  
  .card-item h2.user-name {
	font-size: 1.2rem;
	margin: 10px 0;
	color: #333;
	white-space: nowrap; /* Evita que el texto se divida en varias líneas */
	text-overflow: ellipsis; /* Muestra los puntos suspensivos cuando el texto se desborda */
	
  }
  
  .card-item button.message-button {
	font-size: 1rem;
	padding: 8px 20px;
	color: #fff;
	background:#f5b7b1  ;	
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background 0.2s ease;
	margin-top: 5px;
  }
  
  .card-item button.message-button:hover {
	background:#ec7063 ;
  }
  .swiper {
	padding: 20px 0;
	z-index: 0 !important;
  }
  
  .swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
  }
  .modal-h2{
	justify-content: center;
	text-align: center;
	font-size: 35px;
	margin-top: 10px;
  }
  
  .modal-content {
	position: relative;
	background: white;
	padding: 20px;
	border-radius: 10px;
	width: 90%;
	max-width: 500px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	text-align: center;
  }
  
  .modal-image {
	margin-top: 20px;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	margin-bottom: 20px;
  }
  
  .close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	background: transparent;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
  }
  
  .add-to-cart-modal {
	padding: 10px 20px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
  }
  
  .add-to-cart-modal:disabled {
	background-color: gray;
	cursor: not-allowed;
  }
  .user-profession {
	white-space: nowrap; /* Evita que el texto se divida en varias líneas */
	overflow: hidden;    /* Oculta cualquier contenido que exceda el ancho */
	text-overflow: ellipsis; /* Muestra "..." si el texto es demasiado largo */
	display: block;      /* Asegura que el elemento se comporte como un bloque */
	max-width: 100%;     /* Opcional: define un ancho máximo */
  }
  /* Menú hamburguesa */
/* Menú hamburguesa */
.hamburger-menu-container { 
	position: relative;/* Cambiado a fixed */
    top: 0%;/* Manténlo en la esquina superior derecha */
    z-index: 1;/* Asegúrate de que esté por encima de otros elementos */
  }
  
  .hamburger-button {
	right: 20px;
	position: absolute;
	background: #f5b7b1;
	color: white;
	border: none;
	font-size: 1.5rem;
	padding: 0 7px 0 7px;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-menu {
	position: absolute; /* Desplegable en relación al botón */
	top: 50px; /* Aparece debajo del botón */
	right: 30px;
	background: white;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 10px;
	z-index: 1000;
  }
  
  .dropdown-menu ul {
	flex-direction: column;
	align-items: baseline;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .dropdown-menu li {
	margin: 10px 0;
  }
  
  .dropdown-menu a {
	text-decoration: none;
	color: #333;
	font-size: 1rem;
	padding: 5px 10px;
	display: block;
	border-radius: 5px;
	transition: background 0.3s;
  }
  
  .dropdown-menu a:hover {
	background: #f5f5f5;
  }
  .error-message {
	color: red;
	font-size: 14px;
	margin-top: 10px;
	text-align: center;
  }
  