.conocenosContainer {
  max-width: 1000px; /* Aumenta el ancho máximo del contenedor */
  margin: 30px auto; /* Ajusta el margen superior e inferior */
  padding: 30px; /* Aumenta el padding interno */
  background: linear-gradient(to bottom, #FFD0EC, #F9F9F9, #96C9F4);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}


.panel {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 0px;
}

h3 {
  color: #007BFF;
  margin-bottom: 10px;
}

p {
  color: #555;
  line-height: 1.6;
  text-align: justify;
}
