.conocenosContainer {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  max-width: 1000px; /* Aumenta el ancho máximo del contenedor */
  margin: 30px 0; /* Elimina el centrado, usa solo margen superior e inferior */
  padding: 30px; /* Aumenta el padding interno */
  background: linear-gradient(to bottom, #FFD0EC, #F9F9F9, #96C9F4);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.bannerImage {
  max-width: 100%; /* Asegúrate de que la imagen no se desborde */
  height: auto; /* Mantiene la proporción de la imagen */
  margin: 20px 0; /* Espaciado alrededor de la imagen */
}

.conocenos-video {
  max-width: 100%; /* Asegúrate de que el video no se desborde */
  width: 100%; /*Mantiene la anchura del video*/
  height: 500px; /* Mantiene la proporción del video */
  margin: 20px 0; /* Espaciado alrededor del video */
}