.conocenosContainer {
  max-width: 600px; 
  max-height: 600px; 
  margin: 20px 0 20px 20px; /* El margen izquierdo asegura que se alinee a la izquierda */
  padding: 15px;
  background: linear-gradient(to bottom, #FFD0EC, #F9F9F9, #96C9F4);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
}



.panel {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 0px;
}

h3 {
  color: #007BFF;
  margin-bottom: 10px;
}

p {
  color: #555;
  line-height: 1.6;
  text-align: justify;
}
