:root {
    --primary: #330867;
    --secondary: #330867;
    --errorColor: red;
    --stepNumber: 6;
    --containerWidth: 500px;
    --bgColor: #330867;
    --inputBorderColor: lightgray;
}
.body-register{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden;
}
/*Header del formulario*/
::selection {
    color: #fff;
    background: var(--primary);
}
.container {
    width: var(--containerWidth);
    background: #fff;
    text-align: center;
    padding: 50px 35px 10px 35px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 5px 15px;
}
.container header {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}
.container .form-outer {
    width: 100%;
    overflow: hidden;
}
/*Aqui empieza el formulario por cada sección*/
.container .form-outer .form-register {
    display: flex;
    width: calc(100% * var(--stepNumber));
}
.form-outer .form-register .page {
    width: calc(100% / var(--stepNumber));
    transition: margin-left 0.3s ease-in-out;
}
.form-outer .form-register .page .title {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}
.form-outer .form-register .page .field {
    width: var(--containerWidth);
    height: 45px;
    margin: 45px 0;
    gap: 12px;
    display: flex;
    position: relative;
}
.form-register .page .field .label {
    position: absolute;
    top: -30px;
    font-weight: 500;
}
.form-register .page .field input {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 1px solid var(--inputBorderColor);
    border-radius: 5px;
    padding-left: 15px;
    margin: 0 1px;
    font-size: 18px;
    outline: none;
    transition: border-color 150ms ease;
}
.form-register .page .field input.invalid-input {
    border-color: var(--errorColor);
}
.form-register .page .field select {
    width: 100%;
    height: 100%;
    border: 1px solid var(--inputBorderColor);
    border-radius: 5px;
    padding-left: 15px;
    margin: 0 1px;
    font-size: 18px;
    outline: none;
}
.form-register .page .field textarea {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-bottom: 10px;
    margin: 0 1px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid var(--inputBorderColor);
    resize: none;
    outline: none;
}
.form-register .page .field button {
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: var(--secondary);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}
.form-register .page .field button:hover {
    background: #000;
}
.form-register .page .field .span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.form-register .page .btns button {
    margin-top: -20px !important;
}
.form-register .page .btns button.prev {
    margin-right: 3px;
    font-size: 17px;
}
.form-register .page .btns button.next {
    margin-left: 3px;
}
.container .progress-bar {
    display: flex;
    margin: 40px 0;
    user-select: none;
}
.container .progress-bar .step {
    text-align: center;
    width: 100%;
    position: relative;
}
.container .progress-bar .step p {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin-bottom: 8px;
}
.progress-bar .step .bullet {
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}
.progress-bar .step .bullet.active {
    border-color: var(--primary);
    background: var(--primary);
}
.progress-bar .step .bullet span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.progress-bar .step .bullet.active span {
    display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
    position: absolute;
    content: "";
    bottom: 11px;
    right: -51px;
    height: 3px;
    width: 44px;
    background: #262626;
}
.progress-bar .step .bullet.active:after {
    background: var(--primary);
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
    display: none;
}
.progress-bar .step p.active {
    color: var(--primary);
    transition: 0.2s linear;
}
.progress-bar .step .check {
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}
.progress-bar .step .check.active {
    display: block;
    color: #fff;
}
.card-preview {
    position: relative;
    width: 285px;
    height: 180px;
}

.card-preview img {
    width: 100%;
    height: 100%;
}
.worning-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    color: rgb(246, 168, 22);;
    font-weight: bold;
    margin: 10px 0 10px 0;
}
.card-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cardNumber {
    position: absolute;
    top: 35px; /* Ajusta según la tarjeta */
    left: 20px;
    width: 250px;
    background: transparent;
    border: 1px solid transparent;
    font-size: 14px;
}

#expiryDate {
    position: absolute;
    top: 120px;
    left: 20px;
    width: 80px;
    font-size: 14px;
    border: 1px solid transparent;
}

#cvv {
    position: absolute;
    top: 120px;
    left: 200px;
    width: 50px;
    font-size: 14px;
}
.card-details input {
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    outline: none;
}
.input-with-icon {
    position: relative;
    display: flex;
    align-items: center;
}
  
.input-with-icon input {
  flex: 1;
  padding-right: 30px; /* Espacio para el ícono */
}
  
.tooltip-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #007bff; /* Color del ícono */
  cursor: pointer;
}
  
.tooltip-icon:hover::after {
  content: attr(title); /* Usa el atributo title para el mensaje */
  position: absolute;
  top: -30px;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 12px;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 1000;
}
  
@media screen and (max-width: 660px) {
    :root {
        --containerWidth: 400px;
    }
    .progress-bar .step p {
        display: none;
    }
    .progress-bar .step .bullet::after,
    .progress-bar .step .bullet::before {
        display: none;
    }
    .progress-bar .step .bullet {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .progress-bar .step .check {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 15px;
        transform: translate(-50%, -50%);
        display: none;
    }
    .step {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 490px) {
    :root {
        --containerWidth: 100%;
    }
    .container {
        box-sizing: border-box;
        border-radius: 0;
    }
}