/* Estilo del carrusel_1 */
.container-carrusel {
    position: relative;
    width: 100%; /* ocupa todo el ancho de la página */
    overflow: hidden;
}
.carrusel-deslizante {
    position: relative;
    display: flex;
    flex-direction: column;
}
/*Estilo para las diapositivas*/
.carrusel-interno {
    display: flex;
    height: 22vw; /* Asegurar que el contenedor ocupe todo el espacio en horizontal */
    transition: transform 1s ease-in-out; /* Suave animación al cambiar las imágenes */
    user-select: none;
}
.carrusel-objeto {
    flex: 1 0 100%; /* Cada imagen ocupa todo el ancho del contenedor */
}
.carrusel-objeto img {
    width: 100%;
    height: 100%;
    filter: contrast(130%);
}
/* Estilo de los controles (flecha izquierda/derecha) */
.carrusel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    cursor: pointer;
    background: #272424;
    color: rgb(238, 230, 230);
    padding: 0 10px 0 10px;
    border-radius: 12%;
    user-select: none;
}.carrusel-control:hover{background: rgba(0, 0, 0, 0.3); color: #d1cfcf; font-weight: bold;}
.carrusel-control.izq {left: 12px;} .carrusel-control.der {right: 12px;}
/*Estilo de los indicadores*/
.carrusel-indicador{text-align: center; margin-top: 20px;}
.carrusel-indicador li {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #393E46;
    border-radius: 50%;
    margin: 6px;
    cursor: pointer;
}.carrusel-indicador li.active {background-color: #F25287;}

/*Media para tabletas*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .carrusel-control{
        top: 38%;
        transform: translateY(0%);
        font-size: 20px;
    }
    .carrusel-indicador li{
        width: 12px;
        height: 12px;
    }
}

/*Media para teléfonos o iphones*/
@media only screen and (max-width: 767px) {
    .carrusel-indicador{
        margin-top: 10px;
    }
    .carrusel-control{
        top: 40%;
        transform: translateY(-50%);
        font-size: 12px;
        padding: 0 4px 0 4px;
    }
    .carrusel-indicador li{
        width: 6px;
        height: 6px;
    }   
}