/*Tipo de letra para la pagina -> Manrope*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/*Estilo para los iconos de google font*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/*Selector global de la página*/
*{
  padding: 0;
  margin: 0;
  line-height: 1.5;
  color: #000;
  /*Propiedades de Manrope*/
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*Habilita el scroll smooth para la vista suave de los enlaces del menú*/
html {
	scroll-behavior: smooth;
}

body{
  position: relative;/*Se coloca para posicionar el footer en la parte inferior de la página*/
  background:linear-gradient(to bottom right,#EEEEEE,#F9F9F9, #E7E7E7);
  min-width: 100vw;
  min-height: 100vh;
  padding-bottom: 120px; /*Deja un espaciado entre el contenido de la página y el footer(pie de página)*/
  overflow-x: hidden;
}

h1 {
  text-align: center;
  color: #393E46;
  margin-bottom: 20px;
}

/*Tooltip*/
.tooltip-container {
  position: relative;
  display: inline-block;
}
.tooltip-text {
  visibility: hidden;
  width: 85%;
  background-color: rgb(60, 61, 55, 0.45);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 85%; /*Este es el que posiciona el tooltip en el elemento -> en la parte inferior*/
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s;
  user-select: none;
}
.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(60, 61, 55, 0.45);
}
.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/*Media para tabletas*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .tooltip-text {
    font-size: 10px;
    width: 60%;
    top: 82%; 
  }
  .tooltip-text::after{
    bottom: 100%;
  }
}

/*Media para teléfonos o iphones*/
@media only screen and (max-width: 767px) {
  .tooltip-text {
    font-size: 2%;
    width: 45%;
    top: 80%;
  }
  .tooltip-text::after{
    bottom: 100%;
  }
}